<div class="sidebar">
    <ul class="sidebar-links">
        <li class="sidebar-link">
            <a routerLink="/" routerLinkActive="active" class="link">
                Home
            </a>
        </li>
        <li class="sidebar-link">
            <a routerLink="route-one" class="link">
                Route One
            </a>
        </li>
        <li class="sidebar-link">
            <a routerLink="route-two" class="link">
                Route Two
            </a>
        </li>
        <li class="sidebar-link">
            <a routerLink="route-three" class="link">
                Route Three
            </a>
        </li>
        <li class="sidebar-link">
            <a routerLink="route-four" class="link">
                Route Four
            </a>
        </li>
    </ul>
</div>