@import 'variables';

/* Reset Styles Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: sans-serif;
}

/* Reset Styles End */


/* Element Styles Start */

.ps-form {
    .form-row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        margin: 1em;
    }
}

button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 2em;
    box-shadow: 0 0 0.3em #ccc;
    color: #333;
    cursor: pointer;
    &:disabled {
        opacity: 50%;
    }
    &.accent-black-btn {
        background-color: #333;
        color: #fff;
    }
}
/* Element Styles End */

/* Utility Styles Start */
.container {
    width: 100vw;
    display: flex;
    max-width: $max-container-width;
    margin: auto;
}

a.link {
    display: block;
    list-style: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    &:hover {
        border-bottom: .2em solid rgba(240, 44, 44, 0.849);
        transition: border .1s ease-out;
    }
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    &.with-gap {
        gap: 1em;
    }
    &.vertical {
        flex-direction: column;
    }
}

.bordered {
    border: 0.25em solid $dark-color;
}

.font-size-small {
    font-size: small;
}
/* Utility Styles End */